<div id="<%= dom_id consultation %>">
  <p>
    <strong>User:</strong>
    <%= consultation.user_id %>
  </p>

  <p>
    <strong>Psychologist:</strong>
    <%= consultation.psychologist_id %>
  </p>

  <p>
    <strong>Scheduled at:</strong>
    <%= consultation.scheduled_at %>
  </p>

</div>
