<p style="color: green">
  <% if notice %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
    <% end %>
</p>

<h1 class="text-center">Posts</h1>

<div id="posts">
  <div class="container justify-content-center">
    <div class="row-6">
      <div class="d-grid col-6 mx-auto mb-5">
        <%= link_to "New post" , new_post_path, class: "btn btn-primary btn-block" , type: "button" %>
      </div>
    </div>

    <div class="container text-center justify-content-center">
      <% @posts.each do |post| %>
        <%= render partial: 'shortPost' , locals: {post: post} %>
          <div class="row justify-content-center mb-5">
            <div class="col-6 mb-5">
              <div class="d-grid col-6 mx-auto">
                <div class="space mb-5">
                </div>
                <%= link_to "Show Post" , post, class: "btn btn-primary btn-block" , type: "button" %>
              </div>
            </div>
          </div>
          <% end %>
    </div>

  </div>
</div>
