<h1>Editing psychologist</h1>

<%= render "form", psychologist: @psychologist %>

<br>

<div>
  <%= link_to "Show this psychologist", @psychologist %> |
  <%= link_to "Back to psychologists", psychologists_path %>
</div>
